<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <!-- <script src="../public/js/libs/jquery.js" defer></script> -->
    <!-- <script defer>
      window.$ = window.jQuery = require("jquery");
    </script> -->
    <script src="./js/layout/login.js" defer></script>
    <title>3D Tool Main</title>
  </head>
  <body>
    <div id="wrap" class="login">
      <div class="login_box">
        <div class="logo">
          <img src="./images/logo.png" alt="" />
        </div>
        <div class="input_wrap">
          <input type="text" placeholder="아이디" id="id" />
          <input type="password" placeholder="비밀번호" id="pw" />
        </div>
        <button class="cm_btn02" id="loginBtn">Login</button>
      </div>
    </div>
  </body>
</html>
